<style>
    html {
        background: lightblue;
    }
    body {
        font-family: sans-serif;
        max-width: 30em;
        margin: 2em auto;
        padding: 1em;
        background: white;
    }
    button {
        font-size: 2em;
        display: block;
        margin: 1em auto;
        padding: .5em;
    }
    
</style>

<div>
    <h3>QR Code</h3>
    <img src="<%- image %>" />
</div>

<div>
    <h3>For phone only</h3>
    <a href="<%- deepLink %>">Data import</a>
</div>

<div>
    <h3>Name</h3>
    <p class="name"><%= userInfo.name %></p>
</div>

<div>
    <h3>Relationships</h3>
    <ul>
        <% relationships.forEach((rel) => { %>
            <li>
                <span class="name"><%= rel.name %></span> 
                <span class="role">(<%= rel.role %>)</span>
            </li>
        <% }) %>
    </ul>
</div>

<div>
    <form method="POST" action="/opstool-sdc/sdc/info/<%= renID %>">
        <input type="hidden" name="_csrf" value="<%= _csrf %>">
        <button type="submit" id="send-email">
            Send Email
        </button>
    </form>
</div>

<script src="/js/jquery.min.js"></script>
<script>
    $('#send-email').on('click', function(ev) {
        var $button = $(this);
        var $form = $button.parents('form').eq(0);
        
        ev.preventDefault();
        if (!confirm('Are you sure?')) return;
        
        $.ajax({
            url: $form.attr('action'),
            method: 'POST',
            data: $form.serialize()
        })
        .done(() => {
            alert('Email sent');
        })
        .fail((xhr, status, err) => {
            console.log(arguments);
            alert(err.message || err);
        })
    });
    
</script>